#body{
    background: #b9adad;
}
#textAreas {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
 
 #toLang, #fromLang {
    width: 45%;
    height: 350px;
    text-align: left;
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
  }
  #fromLang{
      margin: 0px 15px 0px 55px;
      background: #e7e5e5;
  }
  #toLang{
    background: #d1d0d0;
}
#h1{
      font-family: 'Coiny', cursive;
      color :rgb(105, 22, 22);
      font-size: 50px;
      text-shadow: 1px 1px 2px black, 0 0 2px blue, 0 0 1px darkblue; 
      
  }
  .ph-center::-webkit-input-placeholder {
    text-align: left;
    line-height: 27px;/* Centrado vertical */
  }
 
 
  @media only screen and (max-width: 700px){
    #textAreas {
        display: inline;
        flex-wrap: nowrap;
        flex-direction: row;
      }
      #toLang, #fromLang {
        width: 85%;
        height: 250px;
        font-size: 16px;
        color: black;
        border-radius: 10px;
        text-align: left;
        font-weight: bold;
      }
      #fromLang{
          margin: 8px 50px 10px 30px;
          background: #e7e5e5;
      }
      #toLang{
        margin: 0px 100px 100px 30px;
        background: #d1d0d0;
    }
      .ph-center::-webkit-input-placeholder {
        text-align: left;
        line-height: 27px;/* Centrado vertical */
      }
  }

 